In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from sklearn import tree, preprocessing
import sklearn.ensemble as ske
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

# from google.colab import drive
# drive.mount('/content/drive')

In [27]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split

In [ ]:
# trainFile = "E:/SJSU - Grad/Spring 23/255/Project/data/train_new.csv"
# testFile = "E:/SJSU - Grad/Spring 23/255/Project/data/test_new.csv"

trainFile = "E:/SJSU - Grad/Spring 23/255/Project/data/train.csv"
testFile = "E:/SJSU - Grad/Spring 23/255/Project/data/test.csv"

test_data = pd.read_csv(testFile)
train_data = pd.read_csv(trainFile)

In [ ]:
scaler = MinMaxScaler()

In [ ]:
good_cols = ["FIRE_YEAR","DISCOVERY_DOY","DISCOVERY_TIME","CONT_DOY","CONT_TIME","STAT_CAUSE_CODE",
             "FIRE_SIZE_SCALED","LATITUDE","LONGITUDE","STATE","DISCOVERY_DATE"]

# select the columns you want to keep
keep_cols = good_cols

In [ ]:
train_data.shape

In [ ]:
test_data.shape

In [19]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 713605 entries, 0 to 713604
Data columns (total 30 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   OBJECTID                    713605 non-null  int64
 1   FOD_ID                      713605 non-null  int64
 2   FPA_ID                      713605 non-null  object
 3   SOURCE_SYSTEM_TYPE          713605 non-null  object
 4   SOURCE_SYSTEM               713605 non-null  object
 5   NWCG_REPORTING_AGENCY       713605 non-null  object
 6   NWCG_REPORTING_UNIT_ID      713605 non-null  object
 7   NWCG_REPORTING_UNIT_NAME    713605 non-null  object
 8   SOURCE_REPORTING_UNIT       713605 non-null  object
 9   SOURCE_REPORTING_UNIT_NAME  713605 non-null  object
 10  FIRE_NAME                   711357 non-null  object
 11  FIRE_YEAR                   713605 non-null  int64
 12  DISCOVERY_DATE              713605 non-null  float64
 13  DISCOVERY_DOY               713605 non-null  int64
 14  DISCOVERY_TIME              713605 non-null  int64
 15  STAT_CAUSE_CODE             713605 non-null  float64
 16  STAT_CAUSE_DESCR            713605 non-null  object
 17  CONT_DATE                   713605 non-null  float64
 18  CONT_DOY                    713605 non-null  float64
 19  CONT_TIME                   713605 non-null  int64
 20  FIRE_SIZE                   713605 non-null  float64
 21  FIRE_SIZE_CLASS             713605 non-null  object
 22  LATITUDE                    713605 non-null  float64
 23  LONGITUDE                   713605 non-null  float64
 24  OWNER_CODE                  713605 non-null  float64
 25  OWNER_DESCR                 713605 non-null  object
 26  STATE                       713605 non-null  object
 27  FIPS_NAME                   713605 non-null  object
 28  Shape                       713605 non-null  object
 29  FIRE_SIZE_SCALED            713605 non-null  float64
dtypes: float64(9), int64(6), object(15)
memory usage: 163.3+ MB

In [ ]:
train_data.dtypes

In [ ]:
train_data.sample(5)

In [ ]:
train_data['FIRE_SIZE_SCALED'] = scaler.fit_transform(train_data[['FIRE_SIZE']])

In [ ]:
# good_cols = ["FIRE_YEAR","DISCOVERY_DOY","DISCOVERY_TIME","CONT_DOY","CONT_TIME","STAT_CAUSE_CODE",
#              "FIRE_SIZE_SCALED","LATITUDE","LONGITUDE","STATE","DISCOVERY_DATE"]

# prefix1 = 'STAT_CAUSE_DESCR_'
# prefix2 = 'FIPS_NAME_'

# # select the columns you want to keep
# keep_cols1 = train_data.filter(like=prefix1).columns.tolist()
# keep_cols2 = train_data.filter(like=prefix2).columns.tolist()
# keep_cols = good_cols + keep_cols1 + keep_cols2

In [ ]:
train_data["STAT_CAUSE_DESCR"].value_counts()

In [ ]:
df_interest = train_data[keep_cols]

In [ ]:
df_interest.head()

In [ ]:
mycols = ["LATITUDE", "LONGITUDE", "STATE"]
mydf = train_data[mycols]
mydf.shape

In [ ]:
X = mydf.drop(["STATE"], axis=1)
Y = LabelEncoder().fit_transform(mydf.STATE.values)

print(X.shape)
print(Y.shape)

In [ ]:
Y[:10]

In [ ]:
X = df_interest.drop(["STATE", "DISCOVERY_DATE", "DISCOVERY_TIME"], axis=1)
X = scaler.fit_transform(X.to_numpy())
Y = LabelEncoder().fit_transform(df_interest.STATE.values)

print(X.shape)
print(Y.shape)
pdX = pd.DataFrame(X)
pdX.head()

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [ ]:
mlp_classifier2 = MLPClassifier(
    hidden_layer_sizes=(180,120,60),
    activation="relu",
    solver="adam",
    max_iter=100,
    verbose=True,
    learning_rate = "adaptive"
)

In [ ]:
Y_test[:14]

In [ ]:
mlp_classifier2.fit(X_train, Y_train)

### Predict and evaluate on the test data

In [ ]:

predict_test = mlp_classifier2.predict(X_test)
accuracy_score(Y_test, predict_test)

### Predict and evaluate on the train data

In [ ]:
predict_train = mlp_classifier2.predict(X_train)
accuracy_score(Y_train, predict_train)

In [ ]:
plt.plot(mlp_classifier2.loss_curve_)
plt.show()

In [ ]:
mycols

In [ ]:
X = test_data[good_cols].drop(["STATE", "DISCOVERY_DATE", "DISCOVERY_TIME"], axis=1)
X = scaler.fit_transform(X.to_numpy())
Y = LabelEncoder().fit_transform(test_data[good_cols].STATE.values)

print(X.shape)
print(Y.shape)

In [ ]:
result = mlp_classifier2.predict(X)

In [ ]:
accuracy_score(result, Y)

In [ ]:
train_data.head()
len(train_data.columns)

In [ ]:
plt.matshow(train_data.corr())
plt.show()

In [ ]:
df = train_data
df["STATE"] = LabelEncoder().fit_transform(train_data.STATE.values)
f = plt.figure(figsize=(19, 15))
plt.matshow(df.corr(), fignum=f.number)
plt.xticks(range(df.select_dtypes(['number']).shape[1]), df.select_dtypes(['number']).columns, fontsize=14, rotation=45)
plt.yticks(range(df.select_dtypes(['number']).shape[1]), df.select_dtypes(['number']).columns, fontsize=14)
cb = plt.colorbar()
cb.ax.tick_params(labelsize=14)
plt.title('Correlation Matrix', fontsize=16);

plt.savefig("corr_train_nandu.png")

Lets Predict the STAT_CAUSE_DESCR column with perceptron

In [ ]:
train_data["STAT_CAUSE_DESCR"].value_counts()

In [ ]:
len(train_data[train_data["STAT_CAUSE_DESCR"] == "Missing/Undefined"])

In [ ]:
good_cols_new = ["FIRE_YEAR","DISCOVERY_DOY","DISCOVERY_TIME","CONT_DOY","CONT_TIME","STAT_CAUSE_CODE","FIRE_SIZE","LATITUDE","LONGITUDE","STATE","DISCOVERY_DATE"]
df_model_new = train_data[good_cols_new]
df_model_new.sample(10)

In [ ]:
df_model_new["STATE"] = LabelEncoder().fit_transform(df_model_new.STATE.values)
df_model_new.sample(5)

Prepare data for our model

In [ ]:
X = df_model_new.drop(["STAT_CAUSE_CODE"], axis=1)
Y = df_model_new["STAT_CAUSE_CODE"]
X.shape, Y.shape

In [ ]:
X.head()

In [ ]:
Y.head()

In [ ]:
# X = pd.DataFrame(scaler.fit_transform(X), columns = X.columns)
# X.shape

X = scaler.fit_transform(X)
X.shape

In [ ]:
Y.head()

In [ ]:
classifier_scdescr = mlp_classifier2 = MLPClassifier(
    hidden_layer_sizes=(180,120,60),
    activation="relu",
    solver="adam",
    max_iter=100,
    verbose=True,
    learning_rate = "adaptive"
)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [ ]:
classifier_scdescr.fit(X_train, Y_train)

In [ ]:
prediction_new = classifier_scdescr.predict(X_test)
accuracy_score(prediction_new, Y_test)

## Predict the fire severity clas

In [20]:
train_data.sample(10)

,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,...,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,FIPS_NAME,Shape,FIRE_SIZE_SCALED
250772,248503,253394,W-598673,FED,DOI-WFMI,TRIBE,USOKCNA,Cherokee Nation Tribe,OKCNA,Cherokee Nation Tribe,...,2.00,B,36.285000,-94.910800,2.0,BIA,OK,Unknown,b'\x00\x01\xad\x10\x00\x00\x94L\x15\x8cJ\xbaW\...,3.295175e-06
593840,1158522,1409509,ALS-DDV-20040410-003,NONFED,ST-ALALS,ST/C&L,USALALS,Alabama Forestry Commission,ALDDV,AFC Dadeville,...,10.00,C,33.305110,-86.161524,14.0,MISSING/NOT SPECIFIED,AL,Talladega,b'\x00\x01\xad\x10\x00\x008a\xc2hV\x8aU\xc0h\x...,1.647594e-05
400281,1687118,201851529,SFO-2013KYKYS19320139042,NONFED,ST-NASF,ST/C&L,USKYKYS,Kentucky Division of Forestry,KYKYS,Kentucky Division of Forestry,...,2.00,B,37.277561,-83.245628,8.0,PRIVATE,KY,Perry,b'\x00\x01\xad\x10\x00\x00\xe0J\x03`\xb8\xcfT\...,3.295175e-06
493233,1243077,1646188,SFO-GA-FY2001-Brantley-075,NONFED,ST-NASF,ST/C&L,USGAGAS,Georgia Forestry Commission,GAGAS,Georgia Forestry Commission,...,0.41,B,31.103800,-81.878300,8.0,PRIVATE,GA,Brantley,b'\x00\x01\xad\x10\x00\x00\xe8\x044\x116xT\xc0...,6.754978e-07
307917,129062,130310,FS-355570,FED,FS-FIRESTAT,FS,USORMAF,Malheur National Forest,0604,Malheur National Forest,...,0.10,A,44.511111,-118.797222,5.0,USFS,OR,Unknown,b'\x00\x01\xad\x10\x00\x00\xd8\xa2X\xb0\x05\xb...,1.647431e-07
465003,170376,172049,FS-400812,FED,FS-FIRESTAT,FS,USAZASF,Apache-Sitgreaves National Forest,0301,Apache-Sitgreaves National Forest,...,0.25,A,33.535556,-109.400000,5.0,USFS,AZ,Greenlee,b'\x00\x01\xad\x10\x00\x00\x98\x99\x99\x99\x99...,4.118825e-07
511083,131945,133251,FS-358659,FED,FS-FIRESTAT,FS,USWYBTF,Bridger-Teton National Forest,0403,Bridger-Teton National Forest,...,200.00,D,43.032500,-109.733889,5.0,USFS,WY,Unknown,b'\x00\x01\xad\x10\x00\x00\xa4\\\x1b\t\xf8n[\x...,3.295191e-04
50759,1873601,300314838,2012CAIRS20601907,NONFED,ST-CACDF,ST/C&L,USCANEU,Nevada-Yuba-Placer Unit,CANEU,Nevada-Yuba-Placer Unit,...,0.25,A,39.022643,-120.962080,14.0,MISSING/NOT SPECIFIED,CA,Unknown,b'\x00\x01\xad\x10\x00\x00\xac\x08\xfe\xb7\x92...,4.118825e-07
212251,134021,135352,FS-360929,FED,FS-FIRESTAT,FS,USMTLNF,Lolo National Forest,0116,Lolo National Forest,...,2.00,B,47.020000,-114.738889,13.0,STATE OR PRIVATE,MT,Mineral,b'\x00\x01\xad\x10\x00\x00\\{\xa0\xf4I\xaf\\\x...,3.295175e-06
380489,182364,184513,W-319913,FED,DOI-WFMI,BIA,USSDRBA,Rosebud Agency,SDRBA,Rosebud Agency,...,5.00,B,43.336900,-100.790400,2.0,BIA,SD,Unknown,b'\x00\x01\xad\x10\x00\x00\x88\xb0\xe1\xe9\x95...,8.237962e-06

In [21]:
train_data["FIRE_SIZE_CLASS"].value_counts()

B    309505
A    304515
C     74016
D     11746
E      6864
F      4460
G      2499
Name: FIRE_SIZE_CLASS, dtype: int64

In [24]:
good_cols

['FIRE_YEAR',
 'DISCOVERY_DOY',
 'DISCOVERY_TIME',
 'CONT_DOY',
 'CONT_TIME',
 'STAT_CAUSE_CODE',
 'FIRE_SIZE_SCALED',
 'LATITUDE',
 'LONGITUDE',
 'STATE',
 'DISCOVERY_DATE',
 'FIRE_SIZE_CLASS']

In [25]:
df_sev = train_data[good_cols]

In [26]:
df_sev.sample(5)

,FIRE_YEAR,DISCOVERY_DOY,DISCOVERY_TIME,CONT_DOY,CONT_TIME,STAT_CAUSE_CODE,FIRE_SIZE_SCALED,LATITUDE,LONGITUDE,STATE,DISCOVERY_DATE,FIRE_SIZE_CLASS
214312,1996,240,1653,244.0,1900,1.0,2.471377e-06,46.373333,-115.5650,ID,2450322.5,B
35750,2011,45,1659,45.0,1750,13.0,1.647579e-06,35.637600,-81.5325,NC,2455606.5,B
392230,2000,184,1500,184.0,1535,10.0,1.647579e-06,40.302200,-109.7901,UT,2451727.5,B
542792,2014,185,1445,191.0,1730,10.0,1.647431e-07,47.979300,-117.2533,WA,2456842.5,A
579875,1995,137,1530,137.0,1655,9.0,1.219204e-06,31.549500,-81.9761,GA,2449854.5,B

Perform One hot encoding for STAT_CAUSE_CODE

In [28]:
one_hot_enc = OneHotEncoder(handle_unknown = "ignore")

In [29]:
extra_cols = pd.get_dummies(df_sev.STAT_CAUSE_CODE, prefix = "STAT_CAUSE_CODE")
extra_cols.sample(4)

,STAT_CAUSE_CODE_1.0,STAT_CAUSE_CODE_2.0,STAT_CAUSE_CODE_3.0,STAT_CAUSE_CODE_4.0,STAT_CAUSE_CODE_5.0,STAT_CAUSE_CODE_6.0,STAT_CAUSE_CODE_7.0,STAT_CAUSE_CODE_8.0,STAT_CAUSE_CODE_9.0,STAT_CAUSE_CODE_10.0,STAT_CAUSE_CODE_11.0,STAT_CAUSE_CODE_12.0,STAT_CAUSE_CODE_13.0
358200,0,0,0,0,0,0,0,0,1,0,0,0,0
382374,0,0,0,1,0,0,0,0,0,0,0,0,0
227532,0,0,0,0,1,0,0,0,0,0,0,0,0
390776,0,0,0,0,1,0,0,0,0,0,0,0,0

In [34]:
df_sev_1 = pd.concat([df_sev, extra_cols], axis=1)

In [37]:
df_sev_1 = df_sev_1.drop(["STAT_CAUSE_CODE"], axis=1)
df_sev_1.sample(4)

,FIRE_YEAR,DISCOVERY_DOY,DISCOVERY_TIME,CONT_DOY,CONT_TIME,FIRE_SIZE_SCALED,LATITUDE,LONGITUDE,STATE,DISCOVERY_DATE,...,STAT_CAUSE_CODE_4.0,STAT_CAUSE_CODE_5.0,STAT_CAUSE_CODE_6.0,STAT_CAUSE_CODE_7.0,STAT_CAUSE_CODE_8.0,STAT_CAUSE_CODE_9.0,STAT_CAUSE_CODE_10.0,STAT_CAUSE_CODE_11.0,STAT_CAUSE_CODE_12.0,STAT_CAUSE_CODE_13.0
30289,2010,82,2000,82.0,2030,4.118825e-07,40.801667,-121.501389,CA,2455278.5,...,0,1,0,0,0,0,0,0,0,0
314164,2015,270,1359,270.0,1422,1.647431e-07,46.367520,-120.395420,WA,2457292.5,...,0,0,0,0,0,0,1,0,0,0
149747,1994,245,1600,245.0,1700,1.647431e-07,41.200000,-120.933333,CA,2449597.5,...,0,0,0,0,0,0,0,0,0,0
231220,2000,3,1348,3.0,1348,1.812339e-06,32.286300,-81.245000,GA,2451546.5,...,0,1,0,0,0,0,0,0,0,0

In [59]:
df_sev_main = df_sev_1[0:0]
print(df_sev_main.shape)
for c in df_sev_1["FIRE_SIZE_CLASS"].unique():
    df_sev_main = pd.concat([df_sev_main, df_sev_1[df_sev_1["FIRE_SIZE_CLASS"] == c].sample(2400)])

df_sev_main["FIRE_SIZE_CLASS"].value_counts()

(0, 24)

A    2400
C    2400
B    2400
D    2400
E    2400
G    2400
F    2400
Name: FIRE_SIZE_CLASS, dtype: int64

In [61]:
df_sev_main.sample(7)

,FIRE_YEAR,DISCOVERY_DOY,DISCOVERY_TIME,CONT_DOY,CONT_TIME,FIRE_SIZE_SCALED,LATITUDE,LONGITUDE,STATE,DISCOVERY_DATE,...,STAT_CAUSE_CODE_4.0,STAT_CAUSE_CODE_5.0,STAT_CAUSE_CODE_6.0,STAT_CAUSE_CODE_7.0,STAT_CAUSE_CODE_8.0,STAT_CAUSE_CODE_9.0,STAT_CAUSE_CODE_10.0,STAT_CAUSE_CODE_11.0,STAT_CAUSE_CODE_12.0,STAT_CAUSE_CODE_13.0
261443,2004,256,1504,257.0,1530,1.647431e-07,36.812200,-113.591300,AZ,2453260.5,...,0,0,0,0,0,0,0,0,0,0
153249,1994,214,2000,215.0,1500,1.647431e-07,48.025000,-115.720000,MT,2449566.5,...,0,0,0,0,0,0,0,0,0,0
87741,2012,190,1550,190.0,1840,2.471392e-05,35.136140,-94.076500,AR,2456116.5,...,0,0,0,0,0,1,0,0,0,0
692903,1992,201,1504,203.0,2000,4.687410e-03,44.417100,-117.415200,OR,2448822.5,...,0,0,0,0,0,0,0,0,0,0
571648,2011,109,1236,109.0,1700,3.295191e-03,33.288150,-101.391683,TX,2455670.5,...,0,0,0,0,0,1,0,0,0,0
321629,2012,305,900,307.0,1800,3.866907e-03,43.266694,-117.379190,OR,2456231.5,...,0,0,0,0,0,1,0,0,0,0
607639,2015,325,1316,325.0,1447,1.647431e-07,40.802200,-72.884700,NY,2457347.5,...,0,0,0,0,0,1,0,0,0,0